body{
  background: #ffffff;
  margin-top:20px;
}
.table{
  color: #313131;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(199, 198, 198);
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
  color: #000000;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
  width: 50px;
  height: 50px;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 23px;
}
.text-muted {
  color: #494b4d!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.user-table tbody tr .category-select {
  max-width: 150px;
  border-radius: 20px;
}
.user-table tbody tr{
  position: relative;
}
.category{
display: inline-block;
background-color: rgb(167, 167, 167);
border-radius: 15px;
padding: 0 10px;
margin: 0px 5px 5px 0px;
color: #504f4f;
text-decoration: none;
}
.category:hover{
  background-color: rgb(180, 184, 185);
}
p{
  margin: 0;
  padding: 0;
}
.display-block{
  display: block;
  text-decoration: none
}
.display-block:hover{
  text-decoration: underline;
}
.pagination{
  padding-top: 15px;
}
.active{
  background:#c995b8;

}
.spCate{
  position: absolute;
  left: 20px;
  top: 10px;
}
