<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <!-- <a class="p-2 link-secondary" href="#">Actors</a> -->
      <!-- <a class="p-2 link-secondary" href="#">Movies</a> -->
      <!-- <a class="p-2 link-secondary" href="#">Categories</a> -->
      <!-- <a class="p-2 link-secondary" href="#">Design</a>
      <a class="p-2 link-secondary" href="#">Culture</a>
      <a class="p-2 link-secondary" href="#">Business</a>
      <a class="p-2 link-secondary" href="#">Politics</a>
      <a class="p-2 link-secondary" href="#">Opinion</a>
      <a class="p-2 link-secondary" href="#">Science</a>
      <a class="p-2 link-secondary" href="#">Health</a>
      <a class="p-2 link-secondary" href="#">Style</a>
      <a class="p-2 link-secondary" href="#">Travel</a> -->
    </nav>
  </div>
</div>
<main class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Collection</strong>
          <h3 class="mb-0"><a href="/you">Web Videos</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 12</div> -->
          <p class="card-text mb-auto">Set of youtube videos best collection. All kind of good stuff on youtube. Also where there is Bad stuff there must be little good stuff. Any one can enter this section.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/web.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Explicit</strong>
          <h3 class="mb-0"><a href="/spl">Wild Collection</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <p class="mb-auto">As you enter you can choose between two actors to watch from. You can watch them in action from there. You must be 18 years and older to view this content. Explicit material.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/wild-2.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/wild.jpg" alt="" height="100%" >

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning">Adult</strong>
          <h3 class="mb-0"><a href="/pos">Positions</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 12</div> -->
          <p class="card-text mb-auto">You must be 18 years or older to view this content. You have been warned. Here is the list of poses to try with your beloved. You must be above 21 years and married to watch this.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/adult.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/adult.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Hairy</strong>
          <h3 class="mb-0"><a href="/movies/28/1">Vintage</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <p class="mb-auto">This is list of Erotic 1960 videos. Vintage videos don't have the restrictions of present time. If it happens it happens hardcore. You must be 21 years and older to watch this.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/vintage.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/vintage.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Boobs</strong>
          <h3 class="mb-0"><a href="/movies/29/1">Bouncy</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <p class="mb-auto">Like heavy beauties this is for you. You must be above 21 years and married to watch this. </p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/flesh.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/flesh.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Erotic</strong>
          <h3 class="mb-0"><a href="/movies/999/1">Best</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <p class="mb-auto">Some videos turn true like a twist in the film. When the actors like each other the camera just rolls, the scene just happens beautifully. You must be above 21 years and married to watch this.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/unnamed.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/eros.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Creamy</strong>
          <h3 class="mb-0"><a href="/movies/4/1">Climax</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <p class="mb-auto">Some videos turn true like a twist in the film. When the actors like each other the camera just rolls, the scene just happens beautifully. You must be above 21 years and married to watch this.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/unnamed.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/real.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Hardcore</strong>
          <h3 class="mb-0"><a href="/movies/16/1">Stories</a></h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <p class="mb-auto">This is list of Erotic 1960 videos. Vintage videos don't have the restrictions of present time. If it happens it happens hardcore. You must be 21 years and older to watch this.</p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/vintage.gif" alt="" height="100px" class="overlay" >
          <img src="assets/images/story.jpg" alt="" height="100%" >
        </div>
      </div>
    </div>
  </div>

</main>
